/* Classes */
.contactPageContainerDiv {
  margin-left: 12%;
  margin-top: 10%;
  padding-bottom: 360px;
}

.email {
  font-size: 25px;
  color: #7cb9e8;
  margin-left: 20px;
}

.linkedIn,.gitHub{
  color: #7cb9e8;
}

.findMeOnContentDiv {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  width: 100%;
  align-items: flex-start;
  justify-content: space-evenly;
}

.findMeOnDiv {
  margin-top: 50px;
  /* margin-bottom: 50px; */
  justify-content: space-between;
}

.getInTouchDiv {
  margin-top: 50px;
  /* margin-bottom: 50px; */
}

.getInTouchContent {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-left: 30px;
}

.getInTouchContentDiv {
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
}

.subHeadingDiv {
  color: #0094ff;
  font-size: 35px;
  font-family: "Inter", sans-serif;
}

/* Tags */
a {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
