/* Classes */
.aboutPageContainerDiv {
  margin-top: 5%;
  margin-left: 12%;
}

.aboutPageContentDiv {
  font-family: "Inter", sans-serif;
  font-size: 25px;
  margin-left: 5%;
}

.aboutPageHeading {
  color: #0094FF;
  font-family: "Inter", sans-serif;
  font-size: 40px;
}

.aboutPageContentSubHeading {
  color: #7cb9e8;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.aboutPageSubHeading {
  color: #0cafff;
  font-family: "Inter", sans-serif;
  font-size: 35px;
  margin-top: 5%;
  margin-left: 30px;
  margin-bottom: 20px;
}

.programmingTech {
  color: #24e33a;
  font-family: "Cascadia Code", sans-serif;
  margin-left: 8px;
}

/* Tags */
li {
  margin: 15px;
}

ol {
  list-style-type: none;
  padding-top: 0;
}

p {
  margin: 0;
}
