@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');


#custom-cursor{
    background-color: #2121f8;
    height: 30px;
    width: 30px;
    position: fixed;
    top: 50vh;
    left: 50vw;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: difference;
  }