body {
  margin: 10;
  background-color: black;
  cursor: none;
}

p,
h1,
h2,
h3 {
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2121f8;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b1ba4;
  cursor: pointer;
}