/* .carouselItemBtn{
    display: flex;
    justify-content: space-evenly;
}

.carouselItemDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
    overflow: hidden;
    padding: 25px 0;
    max-width: 1000px;
    /* width: 900px; */
/* } */

/* .currentCarouselItemIndicators{
    display: flex;
}

.inner{
    white-space: nowrap;
    transition: 0.7s;
} */